@media (max-width: 481px){
  .nav{
    float: none;
  }

  .navbar-nav{
    background-color: rgba(0,0,0, 0.8);
  }

  .content1{
    height: 450px;
  }

  .content1 p{
    margin-top: 200px;
    font-size: 2em;
  }

  .navbar-brand img{
    height: 70px;
    margin-left: 26.5%;
    margin-top: 8%;
  }
}

@media (min-width: 482px) and (max-width: 767px){
  .nav{
    float: none;
  }

  .navbar-nav{
    background-color: rgba(0,0,0, 0.8);
  }

  .navbar-brand img{
    height: 70px;
    margin-left: 26.5%;
    margin-top: 8%;
  }

  .content1{
    height: 500px;
  }

  .content1 p{
    margin-top: 210px;
    font-size: 2.5em;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .content1 p{
    margin-top: 240px;
  }
}

@media (min-width: 992px) {
}
